<div class="playzone">
    <canvas id="canvas" width="390" height="390" >
		    Canvas not supported.
    </canvas>
    <script type="text/javascript">
    <!--
	    initCanvas();				
    -->
    </script>
</div>
<%=@test %>
