<div class="playzone">
    <canvas id="canvas" width="390" height="390" >
		    Canvas not supported.
    </canvas>
        <%= javascript_tag "initCanvas(\"" + @playground + "\",\"" + @ia + "\");" %>		
</div>
<%=@test %>
