<div class="elem_list">
    <%=  link_to("/tictactoes/index") do %>
        <div class="link_elem tictactoes_elem">
            <div class="tictactoes_float_left">
                <p class="tictactoes_elem_title_1">TIC</p>   
                <p class="tictactoes_elem_title_2">TAC</p>             
                <p class="tictactoes_elem_title_3">TOE</p>   
            </div>
              Un jeu de morpion classique avec une IA.<br />
              L'IA ne gagne pas systématiquement. Ce projet est mon premier essai avec Ruby, 
              ainsi qu'avec la balise canvas.<br />
              Cliquer pour démarrer 
        </div>              
    <% end %>
</div>
<br />
<div class="elem_list">
    <%=  link_to("/draughts/index") do %>
        <div class="link_elem draughts_elem">   
            <div class="draught_float_left">
                <%= image_tag('/assets/draughts_icone.png') %>
            </div>       
              Le joueur commence avec les blancs.<br />
              Le jeu implémente l'algorithme minimax sur une profondeur de 2.5 coups.<br />
              Cliquer pour démarrer 
        </div>              
    <% end %>
</div>
