<div class="text_zone">
    <p>
        Bienvenue dans mon atelier Ruby on Rails et HTML 5.
    </p>
    <p>
        Ce site est créé dans un but d'apprentissage personnel et est une zone d'expérimentation.<br />
        Le contenu en est donc instable :)
    </p>
    <p>
        Le HTML 5 étant une norme encore toute nouvelle (et pas totalement terminée), 
        il est <s>possible</s> certain que certaines pages s'affichent mal ou pas du tout sur votre navigateur.<br />
        L'utilisation de Firefox ou de Chrome dans une version récente est fortement conseillée.
    </p>
</div>
