.draughts_base
{
    position:absolute;
	margin-right:50%;
	right:-270px;
	width:540px;
	height:540px;
	background:url('/assets/draughts_background.png');
}

.content_draught 
{
   min-height:600px;
}

.draughts_playzone
{
    position:absolute;
    margin-top:20px;
	margin-right:50%;
	right:-250px;
	width:500px;
	height:500px;
}

.draught_float_left{
    float:left;
    padding-right:10px;
}

.draught_end_party
{
    font-size:80px;
    font-weight:bold;
    color:#ffffff;
    padding-top:150px;
    padding-bottom:40px;
}

.draught_loading, .draught_end_party
{
    padding-top:190px;
    text-align:center;
	position:absolute;
    margin-top:20px;
	margin-right:50%;
	right:-250px;
	width:500px;
	height:310px;
	background: url('/assets/loading_background.png');
}

.draught_loading_hidden
{
    display:none;
    background: url('/assets/loading_background.png');
}

.draught_back_menu
{
    position:absolute;
    width:500px;
    right:-250px;
    margin-right:50%;
    text-align:center;
    top:700px;
}

.draught_end_party_hidden
{
}

