.draughts_base
{
    position:absolute;
	margin-right:50%;
	right:-270px;
	width:540px;
	height:540px;
	background:url('/assets/draughts_background.png');
}

.content_draught 
{
   min-height:600px;
}

.draughts_playzone
{
    position:absolute;
    margin-top:20px;
	margin-right:50%;
	right:-250px;
	width:500px;
	height:500px;
}

.draught_float_left{
    float:left;
    padding-right:10px;
}
