// Place all the styles related to the tictactoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playzone
{
	margin-left:auto;
	margin-right:auto;
	width:390px;
	height:390px;
}

.tictactoe_start
{
    padding:40px;
    margin-left:auto;
	margin-right:auto;
	width:310px;
	height:150px;
	border:2px solid #580100;
	border-radius: 15px;
	background-color:#9a1500;
	font-size:18px;
	text-align:center;
	color:#ffffff;
}
