<div class="header">
    <div class="logo">
        <%= image_tag("rails.png", :class => "rails_image") %>        
        Ruby<br />
        Workshop
    </div>  
    <p class="menu"> 
        <%=link_to("Accueil","/homes/index") %>&nbsp;
        <%=link_to("Projets","/projects/index") %>&nbsp;
        <%=link_to("Github","https://github.com/Dahub") %>
    </p>
</div>
